<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  link(rel="stylesheet" href="/stylesheets/mapa.css")
  link(rel="stylesheet" href="/stylesheets/dashboard.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  script( async="true" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOJyVQaOEPkqWx2wck-tMxUOC92TqYXVY&callback=initMap&v=weekly"
    defer)
  script(src="/javascripts/mapa.js")
  </head>
initMap()


<body>






    

  <div class="container">

    <nav>
      <ul>
        <li><a href="#" class="logo">
          <img src="images/logoride.jpg">
          span=user 
        </a></li>
        <li><a href="#">
          <i class="fas fa-menorah"></i>
          <span class="nav-item">Dashboard</span>
        </a></li>
        <li><a href="/historicoViagens">
          <i class="fas fa-calendar-alt"></i>
          <span class="nav-item">Historico de Viagens</span>
        </a></li>
         <li><a href="#">
          <i class="material-icons">payment</i>
          <span class="nav-item">Metodo de Pagamento</span>
        </a></li>
        <li><a href="#">
          <i class="fas fa-user-alt"></i>
          <span class="nav-item">Perfil</span>
        </a></li>
        <li><a href="/perfilcl">
          <i class="fas fa-cog"></i>
          <span class="nav-item">Definições</span>
        </a></li>

        <li><a href="/logout" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">Log out</span>
        </a></li>
      </ul>
    </nav>


    <section class="main">
      <div id="map" ></div>
    </section>
  </div>

</body>
</html>

