<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  link(rel="stylesheet" href="/stylesheets/dashboard.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="#" class="logo">
          <img src="images/logoride.jpg">
          span=user 
        </a></li>
        <li><a href="#">
          <i class="fas fa-menorah"></i>
          <span class="nav-item">Dashboard</span>
        </a></li>
        <li><a href="/historicoViagens">
          <i class="fas fa-calendar-alt"></i>
          <span class="nav-item">Historico de Viagens</span>
        <li><a href="#">
          <i class="fas fa-user-alt"></i>
          <span class="nav-item">Perfil</span>
        </a></li>
        <li><a href="/perfilcon">
          <i class="fas fa-cog"></i>
          <span class="nav-item">Definições</span>
        </a></li>
        <li><a href="/logout" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">Log out</span>
        </a></li>
      </ul>
    </nav>


    <section class="main">
      <div class="main-top">
        <h1>Um prazer em vê-lo Novamente</h1>
        <i class="fas fa-user-cog"></i>
      </div>
      <div class="users">
        <div class="card">
          img( src="images/viagem.jpg")
          <h4>Historico de viagens</h4>
          <p>Consulte as últimas viagens realizadas</p>
          <button>Consultar</button>
        </div>
        <div class="card">
          img( src="images/user.jpg")
          <h4>Perfil</h4>
          <p>Consulte o seu Perfil. Edite as suas informações Pessoais</p>
          <button>Consultar</button>
        </div>
        <div class="card">
          img( src="images/viagem1.jpg")
          <h4>Requisitar Viagem</h4>
          <p>Requisite já uma viagem e encontre o seu motorista favorito </p>
          <button>Requisitar</button>
        </div>
        <div class="card">
          img( src="images/metpagamento.png")
          <h4>Metódo de Pagamento</h4>
          <p>Consulte e faça gestão dos seus metodos de pagamento</p>
          <button>Consulte</button>
        </div>
      </div>
    </section>
  </div>

</body>
</html>

