<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIDE-U | Criar Registo</title>
    link( href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="stylesheets/styles.css")
    link(rel="stylesheet" href="stylesheets/formulario.css")
</head>

<body>
  <header class="header" id="header">
    <nav class="nav container">
      <a href="/home" class="nav__logo">
        <img src="images/logoride.jpg" alt="" class="nav__logo-img">Ride-U
      </a>
    </nav>
  </header>
  
  <div class="testbox">
    <form action="/registrarCL" method="post">
      <div class="item">
        <h1 style="color: black;">Registo Cliente</h1>
      </div>  
      <br>
      <br>
        
      <div class="item">
        <p>Data Nascimento</p>
        <input type="date" name="dataNasc"required/>
      </div>
        
      <div class="item">
        <p>Primeiro Nome</p>
        <input type="text" name="nome"required/>
      </div>
        
      <div class="item">
        <p>Nome do Meio</p>
        <input type="text" name="nomeMeio" />
      </div>
        
      <div class="item">
        <p>Apelido</p>
        <input type="text" name="apelido"required/>
      </div>
        
      <div class="item">
        <p>Género</p>
        <select required name="genero" >
          <option value=""></option>
          <option value="F">F</option>
          <option value="M">M</option>
        </select>
      </div>
        
      <div class="item">
        <p>Nº Telemóvel</p>
        <input type="text" name="Telemovel" required/>
      </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
        
      <div class="btn-block">
        <button type="submit" >Submeter</button>
      </div>
    </form>
  </div>
</body>
</html>