<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIDE-U | Registar Condutor</title>
    link( href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link( rel="stylesheet" href="stylesheets/styles.css")
    link( rel="stylesheet" href="stylesheets/formulario.css")
</head>
<header class="header" id="header">
        <nav class="nav container">
        <a href="/home" class="nav__logo">
          <img src="images/logoride.jpg" alt="" class="nav__logo-img">Ride-U
        </a>
        </nav>
</header>
  <body> 
    <div class="testbox">
        <form action="/registrarConfEmail" method="post">
          <div class="item">
            <h1 style="color: black;">Confirmar o seu Email</h1>
          </div>  
          <br>
          <br>
          <div class="item">
            <h2 style="color: black;">Enviamos lhe um email com um codigo </h2>
          </div> 
          <div class="item">
            <p>Codigo apresentado</p>
            <input type="text" name="codigo" required/>
          </div>
          <div class="btn-block">
            <button type="submit" onclick="alerts()">Seguinte</button>
          </div>
        </form>
    </div>
</body>

</html>