<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ver Cartões</title>
	link(rel="stylesheet" href="stylesheets/Vercartao.css")
script(src="https://code.jquery.com/jquery-3.3.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js")
script(src="javascripts/Metpagamento.js")
</head>
<body>
<section>
<div class="container">
<div class="cardWrapper">
<div class="card">
<div class="bg">
<img src="https://www.logo.wine/a/logo/Mastercard/Mastercard-Logo.wine.svg" alt="">
</div>
<div class="card__name">
<p>Ride-U</p>
</div>
<div class="card__number">
p=numcartao
</div>
<div class="card__number">
p=cvv
</div>

<div class="highlight"></div>
</div>
</div>
</div>
</section>
</body>
</html>